*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
body{
    background: #444;
    color: #fff;
}

.contenedor-2 {
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}
/* header  */

.cabeza {
    height: 100px;
    background: #000;
    margin-bottom: 10px;
  }
  .top {
    font-size: 2em;
    text-align: center;
    line-height: 3em;
    font-family: sans-serif;
  }

  /* menu  */
  .menu{
    background: #BAE8FD;
    color: black;
    height: 3em;
  }
  .menu-1 li{
    color: black;
    font-size: 1.2em;
    text-align: center;
    line-height: 2em;
    font-weight: bolder;
    display: inline-block;
    list-style: none;
    text-decoration: none;
  }
  .menu li a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
  }
  .menu li a:Hover{
    background-color: #1ad652;
    transition: all .3s;
  }
  /* body  */
  .description_1{
    width: 1000px;
    height: 350px;
    float: left;
    background: black;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 2em;
    font-weight: bold;
    list-style: none;
}

  .description-1,
  .form {
    width: 400px;
    height: 200px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    padding: 10px 10px 10px 5px;
    border: 3px solid white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 30px -4px white;
    box-sizing: border-box;
}

.button ,
.submit {
  background-color: black;
  width: 100px;
  margin: 0 150px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid white;
  font-family:serif;
  word-spacing: normal;
  font-size: 1em;
  box-shadow: 0 2px 15px -4px white;
  transition: all 5s;
}

.textarea {
  min-width: 100px;
  max-width: 200px;
  max-width: 100%;
}
.button:Hover {
  cursor: pointer;
}

  /* footer  */

  footer {
    background:#BAE8FD;
    color:black;
    font-size: 1em;
    text-align: center;
    clear: both;
    padding: 10px;
    font-style: Arial;
  }
